.activities {
    padding-bottom: 94px;
    position: relative;
    display: none;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;
    }
    &__list {
        @extend %flex;
        flex-direction: row;
        column-gap: 30px;
    }
    &__card {
        position: relative;
    }
    &__photo {
        display: block;
    }
    &__image__title {
        color: $third-text-color;
        @extend %font;
        letter-spacing: 0.03em;
        @extend %text-align-transform;
        padding: 27px 107px;
        background-color: #2f303ac1;
        @extend %position;
    }
    &__image__title1 {
        color: $third-text-color;
        @extend %font;
        letter-spacing: 0.03em;
        @extend %text-align-transform;
        padding: 27px 112px;
        background-color: #2f303ac1;
        @extend %position;
    }
    &__image__title2 {
        color: $third-text-color;
        @extend %font;
        letter-spacing: 0.03em;
        @extend %text-align-transform;
        padding: 27px 94px;
        background-color: #2f303ac1;
        @extend %position;
    } 
}
@media screen and (min-width: 1200px){
    .activities {
        display: block;
    }
}
