.feature__item:nth-child(1)::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $third-bg-color;
    background-image: url(../images/icons/antenna.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.feature__item:nth-child(2)::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $third-bg-color;
    background-image: url(../images/icons/clock.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.feature__item:nth-child(3)::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $third-bg-color;
    background-image: url(../images/icons/diagram.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.feature__item:nth-child(4)::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $third-bg-color;
    background-image: url(../images/icons/astronaut.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
} 