.feature__item:nth-child(1)::before {
    @include bg-image(url(../images/icons/antenna.webp))
}
.feature__item:nth-child(2)::before {
    @include bg-image(url(../images/icons/clock.webp))
}
.feature__item:nth-child(3)::before {
    @include bg-image(url(../images/icons/diagram.webp))
}
.feature__item:nth-child(4)::before {
    @include bg-image(url(../images/icons/astronaut.webp))
} 

@media (min-width: 320px) and (max-width: 479px) {
      .feature__list {
        flex-direction: column;
      }
  }
  @media (min-width: 480px) and (max-width:767px) {
    .feature__list {
      flex-wrap: wrap;
      flex-basis: calc((100% - 30px) / 4);
      flex-direction: row;
    }
    .feature__item {
      flex-wrap: wrap;
      flex-basis: calc((100% - 30px) / 2)
    }
  }
  @media screen and (min-width: 768px) {
    .feature__list {
      flex-direction: row;
    }
  }
  @media screen and (min-width: 1200px) {
    .feature__list {
      flex-direction: row;
      flex-basis: 1;
      align-items: center;
    }
  }