.footer__icons{
    /* margin-left: 70px; */
    text-align: center;
    margin-bottom: 60px;
}

.footer__list {
    @extend %flex;
    margin-top: 20px;
}



.footer__title {
    @extend %font;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $third-text-color;

}

.footer__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    @extend %flex;
    align-items: center;
    color: $third-text-color;
    fill: currentColor;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    &:hover , &:focus {
        background-color: $fourth-bg-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(1.2) ;
    }
}
.footer__list .footer__item {
    margin-right: 10px;
}

.footer__icon {
    fill: white;
    width: 20px;
    height: 20px;
}

@media (min-width:992px){
    .footer__icons {
        margin-right: 93px;
    }
}