.footer__contacts {
    display: flex;
    flex-direction: column;
    column-gap: 9px;
    margin-top: 20px;
    width: 231px;

    &__contacts__item {
        height: 21px;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $third-text-color;
    }
    &__address {
        @extend %line-height-letter-spacing;
    }
    &__contacts__link {
        @extend %line-height-letter-spacing;  
    }
}


