.form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}


.form__name {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $second-text-color;
    padding-bottom: 4px;
}
.form__input {
    margin-top: 4px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    
    cursor: pointer;
}


.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: #212121;
    cursor: pointer;
}
.form__input:hover,
.form__input:focus {
    border-color: $fourth-bg-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea {
    margin-top: 4px;
    resize: none;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}
.form__textarea:hover,
.form__textarea:focus {
    border-color: $fourth-bg-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form__input:hover + .modal__icon,  
.form__input:focus + .modal__icon {
    fill: $fourth-bg-color;
    border-color: $fourth-bg-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
}

.form__checkbox {
    margin: -1px;
    border: 0;
    padding: 0;;
}

.checkbox__text {
    line-height: 1.71;
}

.form__link {
    line-height: 1.71;
    outline: 0;
    outline-offset: 0;
    text-decoration-line: underline;
    color: #2196f3;

    opacity: 0.5;
    transition: opacity 250ms;
}

.form__link:hover {
    opacity: 1;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__button {
    padding: 10px 55px;
    margin: 0px auto;
    @extend %flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $third-text-color;
    background-color: $fourth-bg-color;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.submit__button:hover {
    transition: 0.5s;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.1);
} 