
$primary-text-color: #212121;
$second-text-color: #757575;
$third-text-color: #ffffff;
$text-color-logo: #000000;
$color-on-mouse-over: #2196f3;
$bg-color: #ffffff;
$second-bg-color: #2f303a;
$third-bg-color: #f5f4fa;
$fourth-bg-color: #2196F3;
$project-bg-color: #eeeeee;
$icon-color: #AFB1B8;

$font-family-primary: "Roboto", sans-serif;